<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Testimonials>
            <version>1.0.0</version>
        </Edge_Testimonials>
    </modules>
    <global>
        <blocks>
            <testimonials>
                <class>Edge_Testimonials_Block</class>
            </testimonials>
        </blocks>
        <models>
            <testimonials>
                <class>Edge_Testimonials_Model</class>
                <resourceModel>testimonials_resource</resourceModel>
            </testimonials>
            <testimonials_resource>
                <class>Edge_Testimonials_Model_Resource</class>
                <entities>
                    <testimonials>
                        <table>testimonials</table>
                    </testimonials>
                </entities>
            </testimonials_resource>
        </models>
        <helpers>
            <testimonials>
                <class>Edge_Testimonials_Helper</class>
            </testimonials>
        </helpers>
        <resources>
            <testimonials_setup>
                <setup>
                    <module>Edge_Testimonials</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testimonials_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <testimonials>
                <use>admin</use>
                <args>
                    <module>Edge_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </testimonials>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <edge module="edge">
                <title>outer/edge</title>
                <sort_order>10</sort_order>
                <children>
                    <testimonials module="edge">
                        <title>testimonials</title>
                        <sort_order>10</sort_order>
                        <action>testimonials/admin</action>
                    </testimonials>
                </children>
            </edge>
        </menu>
    </adminhtml>
</config>